@import "/src/index.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loan{
    width: 100%;
    height: auto;
    .top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width:450px) {
            height: auto;
            padding: 4%;
        }
        width: 100%;
        height: 70vh;
        background: $mainColor;
        padding: 2%;
        .left{
            @media (max-width:450px) {
                width: 90%;
                margin-bottom: 5%;
             }
            width: 50%;
            h1{
                @media (max-width:450px) {
                    font-size: 2rem;
                }
                font-size: 3vw;
                color: $textColor;
                margin-top: 15%;
            }
            p{
                @media (max-width:450px) {
                    padding-top: 5%;
                    font-size: 1.2rem;
                }
                font-size: 2vw;
                color: $textColor;
            }
        }
        .right{
            @media (max-width:450px) {
               width: 90%;
            }
            width: 40%;
            border-radius: 15px;
            height: 50vh;
            background: url('https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
            background-size: cover;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-repeat: no-repeat;
            box-shadow: rgb(13, 235, 179, 0.4) 5px 5px, rgb(13, 235, 179, 0.3) 10px 10px, rgb(13, 235, 179, 0.2) 15px 15px, rgb(13, 235, 179, 0.1) 20px 20px, rgb(13, 235, 179, 0.05) 25px 25px;
        }
    }
    .cate{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        margin-top: 4%;
        color: $secondaryColor;
        width: 100%;
    }
    .section2{
        margin-top: 4%;
    }
    .accordion-section{
        width: 100%;
        height: auto;
        .faq{
            display: flex;
            justify-content: center;
            h1{
                @media (max-width:450px) {
                    font-size: 1.2rem;
                }
                color: $textColor2;
                font-size: 3vw;
                padding-top: 3%;
                padding-bottom: 3%;
            }
        }
        .accordion-container{
            @media (max-width:450px) {
                width: 80%;
            }
            width: 60%;
            margin: auto;
            height: auto;
            .head{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                background: #e6eff2;
                padding: 2%;
                margin-bottom: 2%;
                border-radius: 5px;
                h1{
                    @media (max-width:450px) {
                        font-size: .7rem;
                    }
                    font-size: 1.5vw;
                    color: $textColor2;
                }
                .ico{
                    @media (max-width:450px) {
                        font-size: .7rem;
                    }
                    font-size: 1.5vw;
                    color: $textColor2;
                }
            }
            .foot{
                background: #e6eff2;
                margin-top: -2%;
                margin-bottom: 3%;
                padding: 2%;
                p{
                    @media (max-width:450px) {
                        font-size: .7rem;
                    }
                    color: #333;
                    font-size: 1.3vw;
                }
            }
        }
        .ready{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 5%;
            p{
                @media (max-width:450px) {
                    font-size: .7rem;
                }
                font-size: 2vw;
                color: $textColor2;
            }
        }
        .search{
            width: 100%;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                @media (max-width:450px) {
                    width: 60%;
                    height: 6vh;
                    font-size: .8rem;
                }
                width: 40%;
                height: 10vh;
                padding-left: 2%;
                font-size: 1.4vw;
                color: $textColor2;
                border: 2px solid $secondaryColor;
                &::placeholder{
                    color: $textColor2;
                }
            }
            button{
                @media (max-width:450px) {
                    width: 20%;
                    height: 6vh;
                    font-size: .8rem;
                }
                width: 10%;
                height: 10vh;
                border: none;
                background: $secondaryColor;
                color: $textColor2;
                font-size: 1.3vw;
            }
        }
    }
}